
.App{
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding-bottom: 60px;
}
.users-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.form-container {
    width: 100%;
    min-height: 100vh;
    background-color: #0003;
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.disable__form {
    display:none;
}
.App__container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.App__title{
    font-family: 'Franklin Gothic Medium';
    color: white;
    font-size: 4rem;
    font-style: oblique;
    text-shadow: 0 0 9px #5209aa;
}
.App__btn{
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #555A88;
    color: white;
    margin-top: 15px;
    cursor: pointer;
    transition: transform 150ms ease, box-shadow 150ms ease;
}
.App__bnt:hover{
    transform: scale(1.04);
    box-shadow: 0 0 10px rgba(28, 4, 108, 0.333);
    transition: transform 150ms ease, box-shadow 150ms ease;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
  }
  .loader::before , .loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid rgb(66, 7, 214);
    animation: prixClipFix 2s linear infinite ;
  }
  .loader::after{
    border-color: #FF3D00;
    animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
    inset: 6px;
  }

  @keyframes rotate {
    0%   {transform: rotate(0deg)}
    100%   {transform: rotate(360deg)}
  }

  @keyframes prixClipFix {
      0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
      25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
      50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
      75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
      100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
  }